@import "/node_modules/typeface-inter/inter.css";
@import "/node_modules/typeface-jetbrains-mono/dist/index.css";

:root {
  scroll-behavior: smooth;

  h1, h2, h3, .black {
    font-weight: 900;
  }
  h4 {
    font-weight: 800;
  }

  --c-brand: #e30613;
  --c-brand-light: #92040c;
  --c-tip: var(--c-text-quote);

  // font vars
  --font-family: 'Inter', sans-serif;
  --font-family-code: 'JetBrains Mono', monospace;
}

html.dark {
  --c-brand: #9660cf;
  --c-brand-light: #7738bb;
  --c-tip: var(--c-text-quote);
  .logo {
    filter: invert(1);
  }
}

.site-name {
  font-family: var(--font-family-code);
}

.home {
  .hero {
    img {
      border-radius: 50%;
      border: 0.5rem solid #fff;
      box-shadow: 0 0 1.5rem rgb(34,39,46, 25%);
      max-width: 50vw;
    }
    #main-title {
      font-weight: 900;
    }
    .description {
      font-weight: 500;
    }
  }
  .footer {
    padding: 2.5rem 0;
  }
}

.video-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  iframe, object, embed {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
  }
}

.video-container iframe, .video-container object, .video-container embed { 
  position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
}

// sortable tables
th.sortable {
  cursor: pointer;
  &.active {
    span {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      &:after {
        font-size: 10px;
        padding-left: 10px;
      }
    }
    &.asc span {
      &:after {
        content: '▼';
      }
    }
    &.desc span {
      &:after {
        content: '▲';
      }
    }
  }
  &:hover {
    background-color: var(--c-tip-bg);
  }
}